<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Emprix Smoke Test" thread-count="10" parallel="tests" >
<listeners>
    <listener class-name="com.Emprix.listener.TestNGListener" />
  </listeners>

<test name="chromeTest1" >
<parameter name="browser" value="chrome"/>
<classes >
<class name="com.Emprix.testcases.LoginPageTest"/>
</classes>
</test>
<test name="chromeTest2" >
<parameter name="browser" value="chrome"/>
<classes >
<class name="com.Emprix.testcases.ProfilePageTest"/>
</classes>
</test>
<test name="chromeTest3" >
<parameter name="browser" value="chrome"/>
<classes >
<class name="com.Emprix.testcases.ClientPageTest"/>
</classes>
</test>


<test name="firefoxTest1" >
<parameter name="browser" value="firefox"/>
<classes >
<class name="com.Emprix.testcases.LoginPageTest"/>
</classes>
</test>
<test name="firefoxTest2" >
<parameter name="browser" value="chrome"/>
<classes >
<class name="com.Emprix.testcases.ProfilePageTest"/>
</classes>
</test>
<test name="firefoxTest3" >
<parameter name="browser" value="chrome"/>
<classes >
<class name="com.Emprix.testcases.ClientPageTest"/>
</classes>
</test>



</suite>