<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Emprix Smoke Test" thread-count="10" parallel="classes" >
<listeners>
    <listener class-name="com.Emprix.listener.TestNGListener" />
  </listeners>

<test name="chromeTest1" >
<parameter name="browser" value="chrome"/>
<classes >
<class name="com.Emprix.testcases.LoginPageTest"/>
<class name="com.Emprix.testcases.ProfilePageTest"/>
<class name="com.Emprix.testcases.ClientPageTest"/>
</classes>
</test>
<test name="firefoxTest3" >
<parameter name="browser" value="chrome"/>
<classes >
<class name="com.Emprix.testcases.LoginPageTest"/>
<class name="com.Emprix.testcases.ProfilePageTest"/>
<class name="com.Emprix.testcases.ClientPageTest"/>
</classes>
</test>

</suite>